<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавить новость</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <!-- Custom Style -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}" type="text/css">
</head>

<body>
    <div class="container mt-5">
        <h2>Добавить новость</h2>
        <!-- News Addition Form -->
        <form th:action="@{/news/add}" th:object="${addNews}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Заголовок:</label>
                <input type="text" id="title" class="form-control" th:field="*{title}" required>
            </div>
            <div class="form-group">
                <label for="publicationDate">Дата публикации:</label>
                <input type="date" class="form-control" id="publicationDate" th:field="*{date}" required>
            </div>
            <div class="form-group">
                <label for="body">Тело новости:</label>
                <textarea class="form-control" id="body" th:field="*{body}" required rows="5"></textarea>
            </div>

            <div class="form-group">
                <!-- Input for selecting image file -->
                <label for="image" class="btn btn-primary">
                    <input type="file" style="display: none;" th:field="*{image}" id="image" accept="image/*"
                        onchange="previewImage(this)">
                    Выбрать картинку
                </label>
                <!-- Button to cancel image selection -->
                <button type="button" class="btn btn-primary ml-2" onclick="cancelImageSelection()">Отменить
                    выбор</button>
            </div>

            <!-- Container for image preview -->
            <div class="form-group" id="previewContainer">
                <img id="imagePreview" th:src="${addNews.image}" alt="" />
            </div>

            <!-- Submit button to add news -->
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>

    <!-- JavaScript for setting current date, previewing selected image, and canceling image selection -->
    <script>
        document.getElementById("publicationDate").valueAsDate = new Date();

        function previewImage(input) {
            var preview = document.getElementById('imagePreview');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            };

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }

        function cancelImageSelection() {
            document.getElementById('image').value = ''; // Clear selected file
            document.getElementById('imagePreview').src = ''; // Clear image preview
        }

    </script>

    <!-- Bootstrap and related JavaScript libraries -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>

</html>